
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: violet;
    font-family: sans-serif;
    padding: 80px 20px 0 0;
}

.header {
    background-color: blue;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.aside {
    background-color: grey;
    position: fixed;
    top: 80px;
    left: 0;
    bottom: 20px;
    width: 20%;
}

.contenido {
    background-color: yellowgreen;
    position: fixed;
    top: 80px;
    left: 20%;
    right: 0;
    bottom: 20px;
    overflow: scroll;
}

.footer {
    background-color: blue;
    color: white;
    text-align: center;
    position: fixed;    
    left: 0;
    bottom: 0;
    width: 100%;
}

.titulo {
    color: blueviolet;   
}

.textoCentrado {
    text-align: center;
}

.textoDerecha {
    text-align: right
}

.nav {
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
    line-height: 80px;
}

